.pottery-bg {
  background-image: url("../../../Assets/Images/pottery-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-shadow: 0px 17px 34px -12px rgba(1, 247, 247, 0.72);
  overflow: hidden;
}
.tp-heading {
  width: 321px;
  height: 45px;
  background: #010017;
  /* box-shadow: 0px 0px 12px 9px rgba(1, 247, 247, 0.53); */
  border-radius: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 52px;
  /* or 413% */
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #ffffff;
}
/* .tp-vritual {
  position: relative;
  top: -6px;
} */
.tp-dollar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;

  color: #01f7f7;
}
.tp-to {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  /* identical to box height */

  text-transform: uppercase;

  color: #01f7f7;
}
.btn-stake-to {
  width: 150px;
  height: 60px;
  background: #010017;
  border: 1px solid #fd0093;
  /* box-shadow: 0px 0px 13px 6px #fd0093; */
  border-radius:10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  /* line-height: 67px; */
  /* identical to box height, or 353% */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #fd0093;
}
.pottery-box {
  width: 477px;
  height: 355px;
  background: #010017;
  border: 1px solid #01f7f7;
  box-shadow: 0px 0px 12px 9px #01f7f7;
  border-radius: 20px 20px 117px 20px;
}
.tp-deposit {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* line-height: 40px; */
  text-align: center;

  color: #ffffff;
}
.tp-blue {
  color: #01f7f7;
}
.tp-time {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  /* identical to box height */
  color: #01f7f7;
}
.tp-until {
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 13px;
  color: #ffffff;
  margin-left: 20px !important;
}
/* **************************************************CurPrize******************************************************************* */
.curPrize-box {
  width: 499px;
  height: 590px;
  background: #010017;
  border: 1px solid #fd0093;
  box-shadow: 0px 0px 12px 9px #fd0093;
  border-radius: 20px 20px 117px 20px;
}
.btn-CurPrize {
  width: 180px;
  height: 38px;
  background: #456c6c;
  border-radius: 2px 21px 2px 2px;
}
.btn-deposit {
  width: 50%;
  height: 38px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  border: none;
}
.btn-deposit:hover {
  width: 50%;
  height: 38px;

  background: #fd0093;
  border-radius: 2px;
}
.tPottery {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  /* identical to box height */
  color: #ffffff;
}

.tstakeCake {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.Cur-input {
  width: 433px;
  height: 66px;
  background: #010017;
  border: 1px solid #007272;
  border-radius: 5px;
}
.T-your {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}
.cur-tPrice {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  /* identical to box height */

  text-transform: uppercase;

  color: #fd0093;
}
.cur_usd {
  font-weight: lighter !important;
  font-size: 12px;
}
.t-current-prize {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  /* identical to box height, or 108% */
  text-transform: uppercase;
  color: #fd0093;
}
.tcur_usd {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 140px;
  /* identical to box height */

  text-transform: uppercase;

  color: #01f7f7;
}
.tcur_stake {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  /* or 108% */
  text-transform: uppercase;
  color: #fd0093;
}
@media (max-width: 320px) {
  .tp-heading {
    width: 100%;
    height: 45px;
    font-size: 12px;
    text-align: center;
  }
  .tp-dollar {
    font-size: 70px;
    text-align: center;
  }
  .tp-to {
    margin-top: -20px;
    font-size: 40px;
    text-align: center;
  }
  .btn-stake-to {
    margin-left: 20px !important;
    display: flex;
    justify-content: center;
  }
  .pottery-box {
    margin-top: 60px;
    width: 400px;
  }
  .tp-deposit {
    font-size: 20px;
  }
  .tp-time {
    font-size: 40px;
    margin-top: -30px;
  }
}
@media (max-width: 375px) {
  .tp-heading {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  .tp-dollar {
    font-size: 80px;
    text-align: center;
  }
  .tp-to {
    margin-top: -20px;
    font-size: 40px;
    text-align: center;
  }
  .btn-stake-to {
    margin-left: 65px;
    display: flex;
    justify-content: center;
    /* width: 100%;
    height: 40px; */
  }
  .pottery-box {
    margin-top: 60px;
    width: 400px;
  }
  .tp-deposit {
    font-size: 25px;
  }
  .tp-time {
    font-size: 50px;
    margin-top: -25px;
  }
}
@media (max-width: 1024px) {
  .tp-heading {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  .tp-dollar {
    font-size: 80px;
    text-align: center;
  }
  .tp-to {
    margin-top: -20px;
    font-size: 40px;
    text-align: center;
  }
  .btn-stake-to {
    margin-left: 65px;
    display: flex;
    justify-content: center;
    /* width: 100%;
    height: 40px; */
  }
  .pottery-box {
    margin-top: 60px;
    width: 400px;
  }
  .tp-deposit {
    font-size: 25px;
  }
  .tp-time {
    font-size: 50px;
    margin-top: -25px;
  }
  .curPrize-box {
    width: 100%;
    height: 550px;
  }
  .Cur-input {
    width: 100%;
    height: 60px;
  }
  .T-your {
    font-size: 12px;
  }
  .cur-tPrice {
    font-size: 10px;
  }
  .cur_usd {
    font-size: 8px;
  }
  .t-current-prize {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
  }
  .tcur_usd {
    text-align: center;
    font-size: 80px;
  }
  .tcur_stake {
    font-size: 40px;
    text-align: center;
  }
  .text_amount {
    display: flex;
    justify-content: center;
  }
}

/* **********************************************************Finished********************************************************************* */
.Finished_bg {
  margin-top: 100px;
  background-image: url("../../../Assets/Images/Finish_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.t-Pfinished {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  /* identical to box height, or 108% */
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.t-Pif {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* or 181% */
  text-align: center;
  color: #ffffff;
}
.Pfinished-box {
  width: 537px;
  height: 431px;
  background: #010017;
  border: 1px solid #01f7f7;
  box-shadow: 0px 0px 12px 9px #01f7f7;
  border-radius: 20px 20px 117px 20px;
}
.t-PF-round {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  /* identical to box height */
  color: #ffffff;
}
.PF-Drawnbox {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #010017;
  width: 100%;
  height: 22px;
  background: #01f7f7;
  border-radius: 2px;
}
.PF-Winnerbox {
  width: 100%;
  height: 200px;
  background: #010017;
  border: 1px solid #263d3d;
  border-radius: 5px;
}
.t-Pf-winner {
  top: -15px;
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 21px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.Pf-box {
  margin: 10px;
  width: auto;
  height: auto;
  background: #103131;
  border-radius: 2px;
}
.Pf-icon-bg {
  position: relative;
  left: -12px;
  width: 31px;
  height: 31px;
  background: #32232c;
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.37);
  border-radius: 2px;
}
.t-GoodName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.tPottery {
  font-family: "Poppins";
  font-style: normal;
  font-size: 13px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}
.t-Pf-Prize {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.t-Pf-usd {
  color: #01f7f7;
}
.btn-Pf-view {
  width: 257px;
  height: 63px;

  background: #010017;
  border: 1px solid #01f7f7;
  box-shadow: 0px 0px 12px 9px #01f7f7;
  border-radius: 2px 2px 40px 2px;
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 19px;
  /* identical to box height */

  text-transform: uppercase;

  color: #01f7f7;
}

@media (max-width: 768px) {
  .Pfinished-box {
    height: 100%;
  }
  .PF-Drawnbox {
    font-size: 8px;
  }
  .Pf-responsive {
    display: block;
    justify-content: center !important;
  }
  .PF-Winnerbox {
    height: 75%;
  }
}
@media (max-width: 475px) {
  .PF-Drawnbox {
    font-size: 12px;
    text-align: center;
  }
  .Pfinished-box {
    height: 100%;
  }
  .PF-Winnerbox {
    height: 65%;
  }
  .tPottery {
    margin-top: 40px;
  }
  .btn-Pf-view {
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .PF-Drawnbox {
    font-size: 12px;
    text-align: center;
  }
  .Pfinished-box {
    height: 100% !important;
  }
  .PF-Winnerbox {
    height: 75% !important;
  }
  .tPottery {
    margin-top: 20px !important;
    font-size: 10px;
  }
  .btn-Pf-view {
    margin-bottom: 20px !important;
  }
  .t-Pf-Prize {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .tPottery {
    margin-top: 30px !important;
    font-size: 10px;
  }
}
@media (max-width: 475px) {
  .tPottery {
    margin-top: 30px !important;
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .tPottery {
    margin-top: 5px !important;
    font-size: 10px;
  }
  .Pfinished-box {
    height: 530px;
  }
  .PF-Winnerbox {
    height: 65%;
  }
}

/* *************************************************How To Play**************************************************** */
.t-How-to-play {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  /* identical to box height, or 108% */
  text-transform: uppercase;
  color: #ffffff;
}
.t-Deposit-Cake {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* or 181% */
  color: #ffffff;
}
.How-card-margin {
  margin-top: 70px;
}
.How-card1,
.How-card2,
.How-card3 {
  width: 359px;
  height: 280px;
  background: #030039;
  border-radius: 20px;
}
.How-card1 {
  border: 1px solid #01f7f7;
  box-shadow: 0px 20px 74px 10px #01f7f7;
}
.How-card2 {
  border: 1px solid #fd0093;
  box-shadow: 0px 20px 74px 10px #fd0093;
}
.How-card3 {
  border: 1px solid #faff00;
  box-shadow: 0px 20px 74px 10px #faff00;
}
.Hcard1-circle,
.Hcard2-circle,
.Hcard3-circle {
  width: 38px;
  height: 38px;
  background: #010017;

  border-radius: 50%;
  /* float: right; */
  position: relative;
  top: -18px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}
.Hcard1-circle {
  border: 1px solid #01f7f7;
  box-shadow: 0px 0px 12px 3px #01f7f7;
  color: #01f7f7;
}
.Hcard2-circle {
  border: 1px solid #fd0093;
  color: #fd0093;
  box-shadow: 0px 0px 12px 3px #fd0093;
}
.Hcard3-circle {
  border: 1px solid #faff00;
  color: #faff00;
  box-shadow: 0px 0px 12px 3px #faff00;
}

.t-Deposit-vs,
.t-wait-for,
.t-Claim {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.t-Deposit-vs {
  color: #01f7f7;
}
.t-wait-for {
  color: #fd0093;
}
.t-Claim {
  color: #faff00;
}

.tDeposit {
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}
@media (max-width: 768px) {
  .How-card-margin {
    display: flex;
    justify-content: center;
  }
  .How-card1,
  .How-card2,
  .How-card3 {
    width: 100%;
    margin-top: 30px;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .How-card-margin {
    display: flex;
    justify-content: center;
  }
  .How-card1,
  .How-card2,
  .How-card3 {
    width: 100%;
  }
}

/* *********************************Split BreakDown***************************** */

.Split-bg {
  background-image: url("../../../Assets/Images//Split_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Split-box {
  width: 431px;
  height: 292px;
  background: #010017;
  border: 1px solid #faff00;
  box-shadow: 0px 0px 12px 9px #faff00;
  border-radius: 20px 20px 117px 20px;
}
.T-SplitPrize {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* or 215% */

  text-transform: uppercase;

  color: #ffffff;
}
.t-Percentage,
.t-Percentage2,
.t-Percentage3 {
  color: #01f7f7;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* or 215% */

  text-transform: uppercase;
}
.t-Percentage {
  color: #01f7f7;
}
.t-Percentage2 {
  color: #fd0093;
}
.t-Percentage3 {
  color: #faff00;
}
.t-SplitBreak {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  /* identical to box height, or 108% */

  text-transform: uppercase;

  color: #faff00;
}
.t-the-prize {
  font-family: "Poppins";
  font-style: normal;

  font-size: 18px;
  /* identical to box height, or 161% */
  color: #ffffff;
}
.t-since-the {
  margin-top: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: justify;
  color: #ffffff;
}

.t-Sprize {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

  color: #01f7f7;
}
.t-split-here {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.t-Sreward {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fd0093;
}
.t-Sfees {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #faff00;
}

@media (max-width: 1024px) {
  .Split-box {
    width: 100%;
  }
  .t-SplitBreak {
    font-size: 30px;
  }
  .t-the-prize {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .Split-box {
    width: 100%;
  }
  .t-SplitBreak {
    margin-top: 100px;
    font-size: 20px;
  }
  .t-the-prize {
    font-size: 12px;
  }
  .t-Sprize,
  .t-Sreward,
  .t-Sfees {
    font-size: 15px;
  }
  .t-split-here {
    font-size: 12px;
  }
  .t-since-the {
    /* margin-top: -5px; */
    font-size: 12px;
  }
}

/* ************************FAX*************************** */
.PF-box {
  width:auto;
  height: 596px;

  background: #010017;
  box-shadow: 0px 20px 74px 10px #01f7f7;
  border-radius: 20px;
}
.t-Fax {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /* identical to box height */
  text-transform: uppercase;
  text-align: center;
  color: #01f7f7;
}
.PF-table {
  width: 585px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* identical to box height */
  color: #ffffff;
}
.PF-detail {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* identical to box height */
  color: #01f7f7;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .PF-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Fax-responsive {
    display: none;
  }
}
