/* .modal_bg {
  background: #1d1132;
  fill: white;
} */
.text_coin {
  font-size: 20px;
  color: #000;
  font-family: "poppins";
}
.coin_overflow {
  height: 200px;
  overflow-y: auto;
}
.search_input {
  width: 100%;
  border-radius: 10px;
}
