.marign-seven {
  margin-top: 150px;
  overflow: hidden !important;
}
.text-virtual-world {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  color: #00d1ff;
}
.text-dammy2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--ul-clr);
}
.pictureSeven-bg {
  width: 506px;
  height: 528px;
  background-color: #00f0ff;
  filter: blur(157px);
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .text-virtual-world,
  .text-dammy2 {
    text-align: center;
  }
  .mob_mar{
    margin-left: 28px !important;
  }
}

@media (max-width: 425px) {
  .text-virtual-world {
    font-size: 35px;
  }
  .text-dammy2 {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 325px) {
  .text-virtual-world {
    font-size: 25px;
  }
  .text-dammy2 {
    font-size: 14px;
  }
}
@media (max-width:950px){
  .text-virtual-world, .text-dammy2{
    text-align: center;
  }
}

.back_seven{
  background-image: var(--section-seven);
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size:cover ;
}