.bg{
  background-color: var(--bg-clr);
  width: 100%;
}
.bg_blur{
  background-color: var(--bg-clr);
  width: 100%;
  opacity: 0.5;
}

.light-theme{
  --bg-clr: #EEF5FF; 
  --ul-clr:black;
  --bg-new:white;
  --bg-offhead:#888888;
  --bg-img:url('../src/Assets/light.png');
  --border-:1px solid black;
  --swap-bg:white;
  --inp-grp:white;
  --logo-:url("../src/Assets/Images/VirtualSwap-01.png");
  --logo-text:white;
  --modal-header:linear-gradient(111.68deg,#f2ecf2,#e8f2f6);
  --modal-body:white;
  --modal-inp:#d7caec;
  --modal-bor:#d7caec;
  background-color: #262130;
  --section-two:url('../src/Assets/background/background/background01.jpg');
  --section-six:url('../src/Assets/background/background/background02.jpg');
  --section-seven:url('../src/Assets/background/background/bg-01.png');
  --text-2m:black;
  --text-3m:black;
  --text-4m:black;
  --sectionthree_bg:url('../src/Assets/background/background/background02.jpg');
  --sectionFive_bg:url('../src/Assets/background/background/background01.jpg');
  --mining-sec:white;
  --mining-border:1px solid white;
  --swap-3:white;
  --swap-3-border:1px solid white;
  --form-control2:white;
  --input_btn:#E9ECEF;
  --liq-text:transparent;
}
.dark-theme{
  --liq-text:black;
  --input_btn:#160d27;
  --form-control2:#020028;
  --bg-clr: black;
 color: white !important;
 background-color: white;
  --ul-clr:white;
  --drop-:#0e1119;
  --bg-new:black;
  --bg-offhead:#666171;
  --bg-img:url('../src/Assets/dark.png');
  --border-:1px solid white;
  --swap-bg:linear-gradient(342.19deg, rgb(11, 12, 13) -1.52%, rgb(36, 38, 44) 94.24%);
  --inp-grp:rgb(42, 42, 48);
  --logo-:url("../src/Assets/Images/virtualswapLogoWhite-02.png");
  --logo-text:black;
 --modal-header:linear-gradient(166.77deg,#3b4155,#3a3045) !important;
 --modal-body:#27262c;
 --modal-inp:#372f47;
 --modal-bor:#262130;
 --text-2m:#faff00;
 --text-3m:#fd0093;
 --text-4m:#00d1ff;
 --sectionthree_bg:url("../src/Assets/Images/23522.png");
 --sectionFive_bg:url("../src/Assets/Images/18761.png");
 --mining-sec:rgb(6, 11, 27);
 --mining-border: 1px solid rgb(24, 28, 55);
 --swap-3-border:1px solid rgb(44, 48, 80);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}
.btn_connect_icon_bg {
  left: -8px;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 2px 0px 0px 2px;
  background: linear-gradient(267.92deg, #00fff0 -8.04%, #01b5c0 69.56%);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.24);
}
.btn_connection_wallet {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}





.dropdown-menu-liqudity{
  background-color: #1A102D;
  
}

.dropdown-item-liqudity{
  color: #01f7f7;
}
.dropdown-item-liqudity:hover{
  background: #FD0093;
  color: #fff;
}

.button_trade {
  width: 170px;
  height: 55px;
  font-size: 20px;
  background: #00d1ff;
  border: none;
  color: #1d1132;
  font-weight: 500;
  font-family: "poppins";
}

.button_trade:hover {
  background: #FD0093;
  color: #fff;
}

.button_Learn, .connect_button {
  border: #00d1ff 1px solid;
  color: #00d1ff;
  width: 170px;
  height: 55px;
  font-size: 20px;
  background: none;
}

.button_Learn:hover {
  background: #00d1ff;
  color: #fff;
  border: none;
}
.connect_button {
  background-color: #00d1ff;
  color: #010017;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
Line-height:16px;
border-radius: 10px;
border:none;


}
.button_connect{
  background-color: #00d1ff;
  color: #010017;
  width: 150px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
Line-height:16px;
border-radius: 10px;
border: none;
}
.button_connect_pink{
  background-color: #FD0093;
  color: #010017;
  width: 150px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
Line-height:16px;
border-radius: 10px;
border: none;
}
.form-dropdown{
  border: 1px solid #FD0093 !important;
  background-color: #010017 !important;
  color: #fff !important;
  height: 40px;
  border-radius: 5px;
}
.plus_icon{
  color: #fff;
  font-size: 20px;
}
.text_choosepair{
  font-size: 15px;
  color: #FD0093;
  font-weight: 500;
  font-family: "poppins";
}
